################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Capcha/v16/.suo
/.vs/Captcha/v16/.suo
/Capcha/App_Data/9e8ff771-4ef6-446c-a8e1-95939a4aeea4.bmp
/Capcha/bin/Debug/netcoreapp3.1
/Capcha/obj
/.vs
